.head2{
    color: #fff;
    padding-top: 10px;
    font-family: 'Teko', sans-serif;
    font-weight: bold;
    font-size: 3rem;
}
.container{

    width: 75%;
    margin: 0 auto;
}
.lrge{
    background:linear-gradient(to bottom , rgba( 0 , 0 , 0 , .5 ) , rgba( 0 , 0 , 0 , 0.5)) ,  url('../../assets/imgs/portBG.jpg');
    padding-top: 0rem;
    padding-bottom: 29rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.para1{
    color: #fff;
    padding: 15px;
    font-size: 30px;
    font-family: roncomedium;
    text-align: center;
    display: block;
    margin: 2.8rem 0;
}