<header>
    <h2 class="text-center">
        My Life
    </h2>
       <hr class="container">
</header>
<section>
    <div class="container">
        <div class="row">
            <div class="sell my-5 text-left font-size-20px">
              <p>Karim Abdel Aziz was born August 17, 1975, in Agouza, Giza. Abdel Aziz was raised by a director with great heritage in the Egyptian cinema,
                as he is the son of the great director Mohamed Abd El Aziz. This is artistic bringing up influenced him choosing his acting career as he was already familiar with
                 the nature of the business. Abdel Aziz studied in a French School Collège De La Salle in Cairo and graduated from it. Abdel Aziz joined the high institute of cinema in 1994, 
                 to start a whole different life since. He graduated from the directing department in 1997 and worked as assistant director for a short period where he was tempted by the 
                 sensation of being in front of the camera instead of behind it. 
                 This is when he decided to switch to acting instead of directing, until he got his chance in acting with the director Sherif Arafa who introduced him for the first time.
                  Then When Samira Ahmed choose Abdel Aziz for his role in the TV drama " Emraa mn zaman el hob" it was his real kick off as a true artist with a real talent and great sense of humor that he was receiving several offers until he got his
                   leading role in front of Mona Zaki and Hala Shiha and Ahmed Helmy in "Leeh khalletny ahebbak"
                  <hr>
                Eminem was born Marshall Bruce Mathers III on October 17, 1972, in St. Joseph, Missouri.
                Eminem's mother never managed to hold down a job for more than several months at a time, so they
                 moved frequently between Missouri and Detroit, Michigan, spending large chunks of time in public housing projects.
                "I would change schools two, three times a year," Eminem later recalled. "That was probably the roughest part about it all."
                This itinerant lifestyle left a large impact on his personality. He had no close friends, kept almost entirely to himself and 
                was treated like an outcast at each new school. "Beat up in the bathroom, beat up in the hallways, shoved into lockers," he remembered.
                Eminem attended Lincoln High School in Warren, Michigan, where he failed the ninth grade three times and eventually dropped out at the age of 17. 
                Yet despite being a poor student, Eminem always had a deep affinity for language, devouring comic books and even studying the dictionary. 
                "I found that no matter how bad I was at school, like, and no matter how low my grades might have been at some times, I always was good at English ... 
                I just felt like I wanna be able to have all of these words at my disposal, in my vocabulary at all times whenever I need to pull 'em out. You know, somewhere, they'll be stored, like, locked away."
                    <hr> 
           </div>
        </div>
    </div>
</section>
